@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;

.zmiti-index-main-ui {
	overflow: hidden;
	width: 10rem;
	left: 50% !important;
	margin-left: -$viewW/2;
	background: $bgColor;

	opacity:0;
	z-index: -1;

	&.show{
		opacity: 1;
		z-index: 200;
	}

	
	.zmiti-title{
		@include pos(a);
		height: 60vh;
		left: 50%;
		top: 14vh;
		z-index: 10;
		@include transform(translate3d(-50%,0,0));
		img{
			height: 100%;
			width: auto;
		}
	}

	.zmiti-index{
		&.index-enter-active, &.index-leave-active {
			@include transition(1s);
		}

		&.index-enter, &.index-leave-to {
			opacity: 0;
		}
	}

	.zmiti-mask{
		z-index: 6;
		&.mask-enter-active, &.mask-leave-active {
			@include transition(1s);
		}

		&.mask-enter, &.mask-leave-to {
			opacity: 0;
		}
	}

	.zmiti-vidoe-page{
		width: $viewW;
		height: 65vh;
		@include pos(a);
		top: 50%;
		@include transform(translate3d(0,-50%,0));
		left: 0;
		z-index: 100;
		overflow: hidden;
		.zmiti-video-C{

		}

		.zmiti-text{
			text-align: center;
			width: 90%;
			margin: 0 auto;
			/*margin-top: 20px;*/
			@include pos(r);
			line-height: 0.6rem;
			text-align: left;
			z-index: 0;

		}
		.zmiti-text1{
			@include pos(a);
			bottom: 60px;
			text-align: center;
			width: 100%;
		}
		video{
			z-index: 10;
			@include pos(f);
			top: 50%;
			margin-top: -210px;
			width: 100%;
			height:420px;
			background: #000;
		}

		&.video-enter-active, &.video-leave-active {
			@include transition(4s);
		}

		&.video-enter, &.video-leave-to {
			height: 0;
		}


	}

	.zmiti-open{
		width: 400px;
		height: 80px;
		line-height: 80px;
		@include pos(a);
		color:#fff;
		left: 175px;
		bottom: 10vh;
		background: #ff3f37;
		z-index: 102;
		text-align: center;
		@include br(40px);
		font-size: 40px;

		&.open-enter-active, &.open-leave-active {
			@include transition(1s 3s);
		}

		&.open-enter, &.open-leave-to {
			opacity:0;
		}
	}

	

	.zmiti-entry{
		width: 2.4rem;
		text-align: center;
		background: #ff3f37;
		line-height:.9rem;
		@include br(30px);
		@include pos(a);
		left: 3.8rem;
		bottom: 1.5rem;

		z-index: 10;
		color:#fff;
		font-size: .45rem;

		@include animation(scale 1s linear infinite alternate);
	}


}

@-webkit-keyframes rotate1{
	to{
		@include transform(rotate(360deg) scale(2));
		opacity:0
	}
}

.zmiti-loading {
	z-index: 1000;

	.zmiti-loading-ui {
		width: 6rem;
		left: 2rem;
		@include pos(a);
		top: 6rem;

		.zmiti-loading-bar {
			width: 2rem;
			@include br(10px);

			&:before {
				content: '';
				@include br(10px);
				@include pos(a);
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-shadow: 0 0 3px rgba(255, 255, 255, .5);
			}

			//height: 1rem;
			@include pos(r);
			margin: 0 auto;

			.zmiti-target {
				$size: .4rem;
				width: $size;
				height: $size;
				@include br();
				background: #fff;
				left: 50%;
				top: .4rem;
				@include pos(a);
				margin-left: -$size/2;
				@include animation(scale linear 2s  infinite alternate);
			}

		}

		.zmiti-progress {
			margin-top: .5rem;
			text-align: center;
			color: #fff;
			font-family: Georgia;
			font-size: .7rem;
		}

	}

}

.zmiti-play {
}
